<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/myapp/admin_change_password/">Change password</a>
<a href="/myapp/view_feedback/">Feedback</a>
<a href="/myapp/view_manufacture/">view_manufacture</a>
<a href="/myapp/view_aproved_manufacture/">view_aproved_manufacture</a>
<a href="/myapp/view_reject_manufacture/">view_reject_manufacture</a>
<a href="/myapp/view_user/">view_user</a>
<a href="/myapp/view_complaint/">view_complaint</a>

<a href="/myapp/logout/">logout</a>

</body>
</html>